{{- $p := .Site.Params -}}
{{- $starts := where (index .Site.Data.schedule "rows") "kind.en" "Start" -}}
{{- $firstStart := (index $starts 0).time -}}
{{- $startISO := printf "%sT%s:00+02:00" $p.eventDate $firstStart -}}
{{- $endISO := printf "%sT%s:00+02:00" $p.eventDate $p.eventEndTime -}}
{{- $url := .Site.BaseURL -}}
{{- $img := absURL ($p.ogImage | default "/img/hero.jpg") -}}
{{- $logoImg := absURL "/img/logo.png" -}}
{{- $desc := $p.description | default .Site.Title -}}
{{- $data := dict
  "@context" "https://schema.org"
  "@graph" (slice
    (dict
      "@type" "SportsEvent"
      "@id" (printf "%s#event" $url)
      "name" .Site.Title
      "description" $desc
      "startDate" $startISO
      "endDate" $endISO
      "eventStatus" "https://schema.org/EventScheduled"
      "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
      "url" $url
      "image" $img
      "sport" "Road running"
      "maximumAttendeeCapacity" $p.maxRunners
      "location" (dict
        "@type" "Place"
        "name" $p.location
        "address" (dict
          "@type" "PostalAddress"
          "streetAddress" $p.location
          "addressLocality" "Copenhagen"
          "postalCode" $p.organiserPostalCode
          "addressCountry" "DK"
        )
        "geo" (dict
          "@type" "GeoCoordinates"
          "latitude" (index (index .Site.Data.route.points 0) 1)
          "longitude" (index (index .Site.Data.route.points 0) 0)
        )
      )
      "organizer" (dict
        "@type" "Organization"
        "@id" (printf "%s#organisation" $url)
        "name" $p.organiser
        "url" $p.organiserUrl
        "email" $p.organiserEmail
      )
      "offers" (slice (dict
        "@type" "Offer"
        "name" "Entry · 5K or 10K"
        "price" (printf "%d.00" (int $p.priceDKK))
        "priceCurrency" $p.currency
        "availability" "https://schema.org/InStock"
        "url" (printf "%s#pricing" $url)
        "validFrom" "2026-01-01T00:00:00+01:00"
      ))
    )
    (dict
      "@type" "Organization"
      "@id" (printf "%s#organisation" $url)
      "name" $p.organiser
      "url" $p.organiserUrl
      "logo" $logoImg
      "email" $p.organiserEmail
      "address" (dict
        "@type" "PostalAddress"
        "streetAddress" $p.organiserStreet
        "addressLocality" $p.organiserLocality
        "postalCode" $p.organiserPostalCode
        "addressCountry" "DK"
      )
      "sameAs" (slice $p.social.instagram $p.social.strava $p.social.facebook)
    )
    (dict
      "@type" "WebSite"
      "@id" (printf "%s#website" $url)
      "url" $url
      "name" .Site.Title
      "inLanguage" .Site.Language.Lang
      "publisher" (dict "@id" (printf "%s#organisation" $url))
    )
  )
-}}
<script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>
