{{- $t := .t -}}
{{- $p := .page.Site.Params -}}
{{- $num := .section.num -}}
<section id="contact">
  <div class="section-head">
    <span class="section-num">{{ $num }} / <span>{{ $t.contact.sectionLabel }}</span></span>
    <h2 class="section-title">{{ $t.contact.sectionTitle }}</h2>
  </div>
  <div class="contact-grid">
    <div class="contact-col">
      <h4>{{ $t.contact.organiser }}</h4>
      <p>{{ $p.organiser }}</p>
      <p>{{ $p.organiserStreet }}, {{ $p.organiserPostalCode }} {{ $p.organiserLocality }}</p>
      <p>CVR {{ $p.organiserCVR }}</p>
      <p style="margin-top:10px"><a href="mailto:{{ $p.organiserEmail }}">{{ $p.organiserEmail }}</a></p>
    </div>
    <div class="contact-col">
      <h4>{{ $t.contact.follow }}</h4>
      <p><a href="{{ $p.social.instagram }}">@amagerrunners</a></p>
      <p><a href="{{ $p.social.strava }}">strava.com/clubs/amagerrunners</a></p>
      <p><a href="{{ $p.social.facebook }}">facebook.com/amagerrunners</a></p>
    </div>
  </div>
</section>
